NEXT_PUBLIC_SUPABASE_URL=supabase_public_key
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key

SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CLIENT_SECRET=your_super_secret_key

